<h1>About</h1>
<p>
  <a href="https://railstutorials.jp/">Ruby on Rails Tutorial</a>
  is a <a href="https://railstutorials.jp/#ebook">book</a> and
  <a href="https://railstutorial.jp/#screencast">screencast</a>
  to teach web developer with
  <a href="https://rubyonrails.org/"> Ruby on Rails</a>.
  This is the sample appilcation for the tutorial.
</p>
